@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
:root {
    /* Dark */
    --dark-background-color: #343436;
    /* Dark background */
    --dark-all-text-color: #a0a0a0;
    /* Light gray for main text */
    --dark-primary-button: orange;
    /* A vibrant purple for primary buttons */
    --dark-shadow-color: #1e1e1e;
    /* Dark gray shadow */
    --dark-main-text-color: #32a852;
    /* A bright green for additional text */
    --dark-hover-color: #666666;
    /* A slightly lighter gray for hover effects */

    /* Light */
    --background-color: #ffffff;
    /* White background */
    --text-color: #000000;
    /* Black text */
    --primary-button: #4caf50;
    /* Green primary buttons */
    --shadow-color: #dddddd;
    /* Light gray shadow */
    --hover-color: #61a861;
    /* Slightly darker green for hover effects */
}


* {
    /* border: 2px solid red; */
    /*For Debug Layer*/
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    text-transform: capitalize;
    text-decoration: none;
    list-style-type: none;
    background-color: var(--dark-background-color);
    color: var(--dark-main-text-color);
    background-size: cover;
    background-position: center;
    font-size: 1rem;
}

a {
    padding: 0 2rem;
}

a:hover {
    color: var(--dark-hover-color);
}

header {
    position: relative;
    padding: 0 2rem;
    height: 60px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.links {
    display: flex;
}

.login,.dp_login {
    background-color: var(--dark-primary-button);
    color: whitesmoke;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 20px;
    font-size: 0.8rem;
    font-weight: bold;
    cursor: pointer;
    transition: scale 0.2 ease;
}

.login:hover {
    transform: scale(1.05);
    color: #fff;
}

.login:active {
    scale: 0.95;
    font-size: 1.2rem;
}

.dropdown {
    height: 0;
    border: 2px solid red;
    position: absolute;
    right: 2rem;
    top: 60px;
    width: 300px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(15px);
    border-radius: 10px;
    overflow: hidden;
    transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.dropdown.open {
    height: 240px;
}

.dp_links>li {
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dp_login {
    width: 100%;
    display: flex;
    justify-content: center;
}
.links>li>a,.dp_links>li>a{
    font-weight: bold !important;
}
h1>a>span {
    font-weight: bold;
    font-size: 1.5rem;
}